* {
	padding: 0;
	margin: 0;
	transition: all 1s ease-in-out;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* Убираем стилизацию ссылкам и спискам */
a {
	text-decoration: none;
	color: black;
}

li {
	list-style: none;
}
/* ------------------------------------------------- */
/* ------------------------------------------------- */


/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* А здесь будет секция для всего нашего текста */

.header__text {
	font-size: 20px;
	color: #222;
	width: 36%;
	margin: 0 auto;
}
h2 {
	display: inline-block;
	margin-bottom: 25px;
	font-size: 48px;
}
h3 {
	display: inline-block;
	margin-bottom: 20px;
	font-size: 32px;
}
h4 {
	font-size: 22px;
}

.text {
	width: 80%;
	font-size: 20px;
	color: #898989;
	margin: 0 auto;
}
.text-smaller {
	font-size: 16px;
	color: #898989;
}
.text-margin {
	display: inline-block;
	margin-bottom: 15px;
}
.text-smallest {
	font-size: 14px;
	margin: 15px auto;
	width: 212px;
}

/* ------------------------------------------------- */
/* ------------------------------------------------- */



/* ------------------------------------------------- */
/* ------------------------------------------------- */
header {
	background: #fcdb00;
	/* color: #fcdb00;
	background: #070707; */
	width: 100%;
	padding: 60px 0 0;
}

/* ------------------------------------------------- */
/* ------------------------------------------------- */

.topnav {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
	width: 66%;
	margin: 0 17%;
	margin-bottom: 260px;
}

.menu-links {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	/* top: 15px; */
	/* margin-right: 40%; */
	font-size: 25px;
	margin-bottom: 15px;
}
.menu-icon{
	/* display: none; */
}
.menu-item:not(:last-child){
	margin: 0 15px 0 0;
}

/* 
Присутпим к стилизации ссылок и логотипа
*/

.header__logo {
	display: inline-block;
	font-size: 1.9rem;
	text-align: center;
	/* margin-right: 24%; */
}

.header__logo::before {
	display: inline-block;
	content: "";
	position: relative;
	top: 1rem;
	left: .1rem;
	margin-right: .5rem;
	width: 3rem;
	height: 3rem;
	background: url(../images/fingerprint@1X.png) no-repeat;
}

.nav-links{
	padding: 24px 0 0;
}

/* делаем ссылочки */

.fa::before {
	display: inline-block;
	content: "";
	position: relative;
	/* top: 24px; */
	/* margin-right: 16px; */
	/* transform: translateY(-50%); */
	width: 32px;
	height: 32px;
	transition: all .2s ease-out;
}
.fa:hover::before {
	border-radius: 50%;
	box-shadow: 0 0 7px 2px #898989;
	transition: all .3s ease-out;
}

.fa-facebook::before {
	background: url(../images/icons8-facebook-90.png) no-repeat;
	background-size: contain;
}

.fa-twitter::before {
	background: url(../images/icons8-twitter-90.png) no-repeat;
	background-size: contain;
}

.fa-google::before {
	background: url(../images/icons8-google-plus-90.png) no-repeat;
	background-size: contain;
}

.fa-pinterest::before {
	background: url(../images/icons8-pinterest-90.png) no-repeat;
	background-size: contain;
}
.fa-linkedin::before {
	background: url(../images/icons8-linkedin-90.png) no-repeat;
	background-size: contain;
}
/* ------------------------------------------------- */

.inspiration {
	margin: 0 auto;
	/* width: 36%; */
	text-align: center;
}

.header-button {
	display: inline-block;
	margin: 40px 0 0 0;
	padding: 18px 74px;
	text-transform: capitalize;
	font-size: 20px;
	font-weight: bold;
	border: 2px solid black;
}
.header-button:hover {
	background: rgb(8, 8, 8);
	color: #fcdb00;
	border: 2px solid #fcdb00;
}


.string-down {
	display: inline-block;
	margin: 180px 0 55px 0;
}

/* --------------------------------------------------- */
/* ------------------------------------------------- */

main {
	display: flex;
	flex-direction: column;
	padding: 115px 0 0 0;
}

.features {
	margin: 0 auto 145px;
	text-align: center;
}
.wrapper-right {
	/* display: flex;
	flex-direction: column;
	justify-content: space-between; */
	text-align: left;
	margin-left: 23px;
}


/* .features__grid{
	display: grid;
	grid-template-columns: 265px 265px 265px;
	grid-template-rows: 1fr 1fr;
	grid-row-gap: 80px;
	grid-column-gap: 3.7%;
	margin-top: 95px;
} */
.features__grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	margin: 15px auto 0;
	width: 66%;
}

.features-icon::before {
	display: inline-block;
	content: "";
	position: relative;
	width: 28px;
	height: 2.5rem;
}

.icon-1::before {
	width: 34px;
	height: 44px;
	background: url(../images/icon-font-1.png) no-repeat;
}

.icon-2::before {
	width: 44px;
	height: 44px;
	background: url(../images/icon-font-2.png) no-repeat;
}

.icon-3::before {
	width: 48px;
	height: 44px;
	background: url(../images/icon-font-3.png) no-repeat;
}

.icon-4::before {
	width: 54px;
	height: 44px;
	background: url(../images/icon-font-4.png) no-repeat;
}

.icon-5::before {
	width: 52px;
	height: 44px;
	background: url(../images/icon-font-5.png) no-repeat;
}

.icon-6::before {
	width: 44px;
	height: 44px;
	background: url(../images/icon-font-6.png) no-repeat;
}

.features-item {
	display: flex;
	flex-direction: row;
	width: 268px;
	margin-right: 45px;
	margin-top: 80px;
}

/* ------------------------------------------------- */
.works {
	padding: 0 0 80px;
}

.text-box {
	width: 66%;
	margin: 0 auto;
	text-align: center;
}

.works-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	margin: 35px auto 0;
	width: 66%;
}

.works-item {
	text-align: center;
	padding: 20px 0;
}
.works-item:hover {
	box-shadow: 0 0 5px 2px #898989;
	border-radius: 2%;
	transition: all 1s ease-out;
}
.works-item:hover:nth-of-type(1) ~ .works-item:not(:nth-of-type(1)),
.works-item:hover:nth-of-type(2) ~ .works-item:not(:nth-of-type(2)),
.works-item:hover:nth-of-type(3) ~ .works-item:not(:nth-of-type(3)),
.works-item:hover:nth-of-type(4) ~ .works-item:not(:nth-of-type(4)),
.works-item:hover:nth-of-type(5) ~ .works-item:not(:nth-of-type(5)),
.works-item:hover:nth-of-type(6) ~ .works-item:not(:nth-of-type(6)),
.works-item:hover:nth-of-type(7) ~ .works-item:not(:nth-of-type(7)),
.works-item:hover:nth-of-type(8) ~ .works-item:not(:nth-of-type(8)) {
	filter: blur(2px) brightness(70%);
	transform: scale(.9);
	transition: all 1s ease-in-out;
}

/* .box-2:hover ~ div[class^="works"]{
	filter: blur(2px) brightness(70%);
}

.works-item:hover:nth-last-of-type(1) ~ .works-item:not(nth-last-of-type(1)) {
	filter: blur(2px) brightness(70%);
	transform: scale(.9);
	transition: all 1s ease-in-out;
}
.works-item:hover:nth-of-type(2) ~ .works-item {
	filter: blur(2px) brightness(70%);
	transform: scale(.9);
	transition: all 1s ease-in-out;
} */

.preview {
	display: block;
	width: 220px;
	height: 220px;
	margin: 0 0 20px;
	overflow: hidden;
}

.preview-1::before, .preview-2::before,
.preview-3::before, .preview-4::before,
.preview-5::before, .preview-6::before,
.preview-7::before, .preview-8::before {
	position: relative;
	z-index: 25;
	display: block;
	content: "";
	width: 220px;
	height: 220px;
	transition: all 1s ease-in-out;
}
.preview-1::before {
	background: url(../images/plus@1X.png) 50% 50% no-repeat,
		radial-gradient(at center, #fff 25px, #222 25px);
}
.preview-1:hover::before {
	transform: rotate(-90deg);
	border-radius: 50%;
	transition: all 1s ease-in-out;
}
.preview-2::before {
	background: url(../images/clipping\ shape-2.png) 50% 50% no-repeat;
	transition: all 1s ease-in;
	/* filter: brightness(90%); */
}
.preview-2:hover::before {
	/* filter: brightness(100%); */
	transform: scale(1.3) rotate(15deg);
	transition: all 1s ease-in;
}

.preview-3::before {
	background: url(../images/clipping\ shape-3.png) 50% 50% no-repeat;
	/* opacity: .4; */
}
.preview-3:hover {
	/* opacity: 1; */
}
.preview-4::before {
	background: url(../images/clipping\ shape-4.png) 50% 50% no-repeat;
}

.preview-5::before {
	background: url(../images/clipping\ shape-5.png) 50% 50% no-repeat;
}

.preview-6::before {
	background: url(../images/clipping\ shape-6.png) 50% 50% no-repeat;
}

.preview-7::before {
	background: url(../images/clipping\ shape-7.png) 50% 50% no-repeat;
}

.preview-8::before {
	background: url(../images/clipping\ shape-8.png) 50% 50% no-repeat;
}
.preview-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 35;
	top: -15%;
	padding: 5px;
	color: rgb(250, 243, 232);
	background: rgba(104, 104, 104, 0.589);
}
.view::before{
	display: inline-block;
	content: "";
	position: relative;
	top: 6px;
	margin: 0 7px 0 0;
	width: 23px;
	height: 20px;
	background: url(../images/eye\ icon@1X.png) no-repeat;
}
time{
	/* line-height: 100%; */
}
time::after{
	display: inline-block;
	content: "";
	position: relative;
	top: 3px;
	margin: 0 0 0 7px;
	width: 20px;
	height: 20px;
	background: url(../images/clock\ icon@1X.png) no-repeat;
}

/* ------------------------------------------------- */
.team {
	padding: 80px 0 170px;
}

.team-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	margin: 15px auto 0;
	padding: 40px 0 0;
	width: 66%;
}
.team-item{
	display: flex;
	flex-direction: column;
	padding: 40px 0 0;
	text-align: center;
}
.works-item {
	text-align: center;
}

.avatar{
	display: block;
}
.avatar::before{
	display: block;
	content: "";
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 0 0 40px;
	width: 130px;
	height: 130px;
}
.avatar-1::before{
	background: url(../images/Ellipse-1.png) no-repeat;
}
.avatar-2:before{
	background: url(../images/Ellipse-2.png) no-repeat;
}
.avatar-3::before{
	background: url(../images/Ellipse-3.png) no-repeat;
}
.avatar-4::before{
	background: url(../images/Ellipse-4.png) no-repeat;
}

/* --------------------------------------------------- */
/* ------------------------------------------------- */
footer {
	padding: 40px 0 80px;
	background: rgb(1, 1, 1);
}

footer a {
	color: #bfbfbf;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 60%;
	margin: 0 auto;
}

.link-item {
	display: flex;
	flex-direction: column;
	margin: 10px;
}

address {
	font-style: normal;
	display: block;
	max-width: 26%;
	min-width: 200px;
	margin-bottom: 20px;
}

address a:not(:first-child) {
	display: inline-block;
	margin: 3px 0 0;
}